<html>
    <head>
        <title><%- title %></title>
        <meta name="description" content="KICKSharath: Code warrior by day, gamer by night. I craft WebApps, Android app, APIs, and more, then conquer digital worlds. ï¸ Passionate coder, problem solver, and always up for a challenge.  Join me on my journey to build a brighter future, one line of code at a time. ">
        <meta name="keywords" content="KICKSharath, kick, sharath, kick sharath, kick",>
        <meta name="author" content="KICKSharath">
    <%- include('../partials/header') %>
    </head>
    <body class="bg-image">
        <div id="navcolorby" data-aos="fade-right" class="sidenav">
            <%- include('../partials/navbar') %>
        </div>
        <div id="navbodyman120" class="navbodyman bgnavbro d-none">
            <%- include('../partials/usernavbody.ejs') %>
        </div>
        <div id="mainmobile" class="main">
            <%- body  %>
        </div>
    </body>
    <script>
        AOS.init();
    </script>
</html>